<div ng-controller="ContactsController as vm">
    {{ vm.contactsView | uppercase }}
    <br/><br/>
    
    Hello, my name is {{ vm.messenger.consultant.name }}, how can I help you ?
    <div class="messanger" style="width: 500px; box-sizing: border-box;">
        <div class="messages" style="width: 100%; height: 200px; overflow-y: scroll; border: 1px solid #cccccc; box-sizing: border-box;">
            <div class="message" 
                 ng-repeat="message in vm.messenger.correspondence track by $index"
                 style="font-size: 16px; padding: 5px 10px; color: green;">
                + {{ message }}
            </div>
        </div>
    
        <input ng-model="vm.messenger.message" 
               ng-keypress="vm.bindMessage($event)"
               placeholder="Type here ..."
               style="width: 100%; font-size: 14px; padding: 7px 10px; box-sizing: border-box; outline: none;"/>
    </div>
    
</div>